﻿@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

<div class="row-fluid">
    <div class="span12">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Current</a></li>
                <li><a href="#">On Hold</a></li>
                <li><a href="#">Completed</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="current">
                    <head>
                        <h1>Add New Goal
                        <small><a href="#" class="m-btn">Back to Goal list</a></small>
                        </h1>
                    </head>

                    <form action="#" method="post" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="goal">Goal</label>
                            <div class="controls">
                                <input type="text" id="goal" placeholder="Create and launch 5 branch recognition campaigns" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="outcome">Outcome/Measure</label>
                            <div class="controls">
                                <input type="text" id="outcome" placeholder="5 Successful campaigns" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="start">Start Date</label>
                            <div class="controls">
                                <input type="text" id="start" placeholder="January 1, 2012" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="end">End Date</label>
                            <div class="controls">
                                <input type="text" id="end" placeholder="December 31, 2012" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="status">Status</label>
                            <div class="controls">
                                <select>
                                    <option>In Progress</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="company_goal">Company Goal</label>
                            <div class="controls">
                                <select>
                                    <option>Overall Brand Recognition</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="goal">Progress</label>
                            <div class="controls progress">
                                <div class="bar" style="width: 60%;"></div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="m-btn green">Save</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
