﻿@{
    ViewBag.SharedTitle = "Goals";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

<div class="row-fluid">
    <div class="span12">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Current</a></li>
                <li><a href="#">On Hold</a></li>
                <li><a href="#">Completed</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="current">
                    <div class="row-fluid">
                        <h3>Goals from period: July 1, 2012 to December 31, 2012</h3>
                    </div>
                    <hr />
                    <div class="row-fluid">
                        <a href="@Url.Content("~/Goal/Create")" class="m-btn green pull-right">Add a New Goal</a>
                    </div>
                    <div class="row-fluid" style="padding-top:10px;">
                        <ul>
                            <li class="span4 alert alert-success">
                                <header><h2>Decommission 2 Databases within next 3 months to save $5000</h2></header>
                                <div class="progress">
                                    <div class="bar" style="width: 60%;"></div> 
                                    <span class="pull-right">60 %</span>
                                </div>
                                <div>
                                    On Track
                                </div>
                            </li>

                            <li class="span4 alert alert-warning">
                                <header><h2>Implement 3 Successful code migrations for the next 2 months</h2></header>
                                <div class="progress">
                                    <div class="bar" style="width: 50%;"></div> 
                                    <span class="pull-right">50 %</span>
                                </div>
                                <div>
                                    In Caution
                                </div>
                            </li>

                            <li class="span4 alert alert-error">
                                <header><h2>Successfully train 2 new programmers for the next 3 months</h2></header>
                                <div class="progress">
                                    <div class="bar" style="width: 20%;"></div> 
                                    <span class="pull-right">20 %</span>
                                </div>
                                <div>
                                    At Risk
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row-fluid" style="padding-top:10px;">
                        <ul>
                        <li class="span4 alert alert-success">
                            <header><h2>Meet 95% Service level agreements for the next 6 months</h2></header>
                            <div class="progress">
                                <div class="bar" style="width: 70%;"></div> 
                                <span class="pull-right">70 %</span>
                            </div>
                            <div>
                                On Track
                            </div>
                        </li>

                        <li class="span4 alert alert-warning">
                            <header><h2>Implement 2 new cost saving initiaitves for capacity for the next 6 months</h2></header>
                            <div class="progress">
                                <div class="bar" style="width: 40%;"></div> 
                                <span class="pull-right">40 %</span>
                            </div>
                            <div>
                                In Caution
                            </div>
                        </li>

                        <li class="span4">
                            
                        </li>
                        </ul>
                    </div>
                    <div class="row-fluid" style="padding-top:10px;">
                        <ul>
                        <li class="span4 alert alert-success">
                            <header><h2>100% Accuracy in Project Time Tracking for the next 6 months</h2></header>
                            <div class="progress">
                                <div class="bar" style="width: 80%;"></div> 
                                <span class="pull-right">80 %</span>
                            </div>
                            <div>
                                On Track
                            </div>
                        </li>

                        <li class="span4">
                            
                        </li>

                        <li class="span4">
                            
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
