﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

<div class="row-fluid">
    <div class="span12">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Goal 1</a></li>
                <li><a href="#">Goal 2</a></li>
                <li><a href="#">Goal 3</a></li>
                <li><a href="#">Goal 4</a></li>
                <li><a href="#">Goal 5</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="current">
                    <div class="row-fluid">
                        <div class="span12">
                            <h2>Task List</h2>
                            <hr />
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3">
                            <h3>Tasks</h3>
                            <ul>
                                <li>Task 1</li>
                                <li>Task 2</li>
                                <li>Task 3</li>
                                <li>Task 4</li>
                            </ul>
                        </div>

                        <div class="span9">
                            <a href="#complete" role="button" class="m-btn" data-toggle="modal">Mark Complete</a>
                            <a href="#" class="m-btn pull-right">Add New Task</a>

                            <div class="modal hide" id="complete"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3 id="myModalLabel">Task Completed</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Congratulations!</p>
                                    <p>
                                        <a href="#" class="m-btn green">Request Feedback</a> <br />
                                        <small>Send notification to contacts</small>
                                    </p>
                                </div>
                            </div>

                            <form action="#" method="post" class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="name">Task Name</label>
                                    <div class="controls">
                                        <input type="text" id="name" placeholder="Task 1" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="details">Details</label>
                                    <div class="controls">
                                        <textarea>

                                        </textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="start">Start Date</label>
                                    <div class="controls">
                                        <input type="text" id="start" placeholder="January 1, 2012" />
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="end">End Date</label>
                                    <div class="controls">
                                        <input type="text" id="end" placeholder="December 31, 2012" />
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <button type="submit" class="m-btn green">Save</button>
                                    <button type="submit" class="m-btn">Cancel</button>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
