﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />    
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css3-microsoft-metro-buttons/css/msft-metro-buttons.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="row-fluid">
        <div class="span10 offset1">
            <div class="navbar">
              <div class="navbar-inner">
                <div class="container-fluid" style="padding-top:20px;">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href=""><img src="../../Content/images/headerlogo.png" /></a>          
                  @Html.Partial("_LogOnPartial")
                  <div class="nav-collapse">
                    @Html.Partial("_NavPartial")
                  </div><!--/.nav-collapse -->
                </div>
              </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
      

      <hr />

      <footer>
        <p>&copy; QuickPayroll 2012</p>
      </footer>

    </div><!--/.fluid-container-->
    <script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/site.js")" type="text/javascript"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
</body>
</html>
