﻿<ul class="nav pull-right">
    @if (Request.IsAuthenticated)
    {         
        <li class="dropdown">
            <div class="span2">
                <ul class="thumbnails">
                    <li class="span12">
                        <div class="thumbnail">
                          <a href="#"><img src="../../Content/images/Picture1.png" alt="avatar" /></a>                          
                        </div>
                    </li>
                </ul>
            </div>      
            <div class="span10" style="padding-top:10px;"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                @User.Identity.Name <b class="caret"></b></a>  
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Profile", "ChangePassword", "Account")
                    </li>
                    <li>
                        @Html.ActionLink("Log Off", "LogOff", "Account")
                    </li>
                </ul> 
            </div>  
        </li>
    }
    else
    {
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Guest
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("Log On", "LogOn", "Account")
                </li>
                <li>
                    @Html.ActionLink("Register", "Register", "Account")
                </li>
            </ul>
        </li>
    }
</ul>
