﻿<ul class="nav">   
    <li><a href="@Url.Content("~/Dashboard/index")" id="dashboard">Dashboard</a></li>  
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Goals
        <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("My Goals", "Index", "Goal")</li>
            <li>@Html.ActionLink("My Tasks", "Index", "Task")</li>
        </ul>
    </li>  
    <li>@Html.ActionLink("Performance", "Index", "Performance")</li> 
    <li>@Html.ActionLink("Appraisal", "Index", "Appraisal")</li> 
    <li>@Html.ActionLink("Network", "Index", "Network")</li>    
    <li><a href="@Url.Content("~/Dashboard/index")" id="about">Team</a></li>          
</ul>                                   
