﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<div class="row-fluid">
    <div class="span12">
        <div>
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="control-group">
                    <div class="control-label">                   
                    </div>
                    <div class="controls">
                        <input type="text" class="span7 search-query" placeholder="Find people in your company"> <input type="submit" value="Search" class="m-btn green" >
                    </div>
                    <div class="control-label">                   
                    </div>
                    <div class="controls">
                        
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="row-fluid">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-block alert-error" })    
    <fieldset>
        <legend>People Directory</legend>
        <div class="pagination">
          <ul>
            <li><a href="#">All</a></li>
            <li><a href="#">A</a></li>
            <li><a href="#">B</a></li>
            <li><a href="#">C</a></li>
            <li><a href="#">D</a></li>
            <li><a href="#">E</a></li>
            <li><a href="#">F</a></li>
            <li><a href="#">G</a></li>
            <li><a href="#">H</a></li>
            <li><a href="#">I</a></li>
            <li><a href="#">J</a></li>
            <li><a href="#">K</a></li>
            <li><a href="#">L</a></li>
            <li><a href="#">M</a></li>
            <li><a href="#">N</a></li>
            <li><a href="#">O</a></li>
            <li><a href="#">P</a></li>
            <li><a href="#">Q</a></li>
            <li><a href="#">R</a></li>
            <li><a href="#">S</a></li>
            <li><a href="#">T</a></li>
            <li><a href="#">U</a></li>
            <li><a href="#">V</a></li>
            <li><a href="#">W</a></li>
            <li><a href="#">X</a></li>
            <li><a href="#">Y</a></li>
            <li><a href="#">Z</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </div>
    </fieldset>
}
</div>
<div class="row-fluid">
    <div class="span3">
        <div class="span6" style="text-align:center;">
            <div class="row-fluid">
                <ul class="thumbnails">
                    <li class="span12">
                        <div class="thumbnail">
                          <a href="#"><img src="../../Content/images/Picture2.png" alt=""></a>                         
                        </div>
                    </li>
                </ul>
                <a href="#">Geoel Esguerra</a>
            </div>
        </div>
        <div class="span6">
            <input style="margin-top:20px;" type="button" class="m-btn green" value="Following" />
        </div>
    </div>
    <div class="span3">
        <div class="span6" style="text-align:center;">
            <div class="row-fluid">
                <ul class="thumbnails">
                    <li class="span12">
                        <div class="thumbnail">
                          <a href="#"><img src="../../Content/images/Picture3.png" alt=""></a>                         
                        </div>
                    </li>
                </ul>
                <a href="#">Jemuel Dalino</a>
            </div>
        </div>
        <div class="span6">
            <input style="margin-top:20px;" type="button" class="m-btn green" value="Following" />
        </div>
    </div>
    <div class="span3">
        <div class="span6" style="text-align:center;">
            <div class="row-fluid">
                <ul class="thumbnails">
                    <li class="span12">
                        <div class="thumbnail">
                          <a href="#"><img src="../../Content/images/Picture4.png" alt=""></a>                         
                        </div>
                    </li>
                </ul>
                <a href="#">Allan Espinosa</a>
            </div>
        </div>
        <div class="span6">
            <input style="margin-top:20px;" type="button" class="m-btn green" value="Following" />
        </div>
    </div>
    <div class="span3">
        <div class="span6" style="text-align:center;">
            <div class="row-fluid">
                <ul class="thumbnails">
                    <li class="span12">
                        <div class="thumbnail">
                          <a href="#"><img src="../../Content/images/Picture5.png" alt=""></a>                         
                        </div>
                    </li>
                </ul>
                <a href="#">LG Sese</a>
            </div>
        </div>
        <div class="span6">
            <input style="margin-top:20px;" type="button" class="m-btn green" value="Following" />
        </div>
    </div>
</div>
<hr />
<div class="row-fluid">
    <div class="span3">
        <div class="span6" style="text-align:center;">
            <div class="row-fluid">
                <ul class="thumbnails">
                    <li class="span12">
                        <div class="thumbnail">
                          <a href="#"><img src="../../Content/images/Picture6.png" alt=""></a>                         
                        </div>
                    </li>
                </ul>
                <a href="#">Kevin Blasco</a>
            </div>
        </div>
        <div class="span6">
            <input style="margin-top:20px;" type="button" class="m-btn green" value="Following" />
        </div>
    </div>
    <div class="span3">
        <div class="span6" style="text-align:center;">
            <div class="row-fluid">
                <ul class="thumbnails">
                    <li class="span12">
                        <div class="thumbnail">
                          <a href="#"><img src="../../Content/images/Picture7.png" alt=""></a>                         
                        </div>
                    </li>
                </ul>
                <a href="#">Sheila Ann Medrano</a>
            </div>
        </div>
        <div class="span6">
            <input style="margin-top:20px;" type="button" class="m-btn green" value="Following" />
        </div>
    </div>
</div>
