﻿@{
    ViewBag.Title = "Performance";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<div class="row-fluid">
    <div class="span12">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Implement 2...</a></li>
                <li><a href="#">Decommission 2..</a></li>
                <li><a href="#">Implement 3...</a></li>
                <li><a href="#">Successfully train 2...</a></li>
                <li><a href="#">Meet 95%...</a></li>
                <li><a href="#">Implement 2...</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="current">

                    <div class="row-fluid">
                        <h3>My Performance</h3>
                    </div>
                    <hr />
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="text-info" style="text-align:center;"><h4>Implement 2 new cost saving initiaitves for capacity for the next 6 months</h4></div>
                            <form action="#" method="post" class="form-horizontal">
                                <div class="control-group">
                                    <div class="control-label">
                                        Start Date:
                                    </div>
                                    <div class="controls">
                                        <span class="input-xlarge uneditable-input">July 1, 2012</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="control-label">
                                        End Date:
                                    </div>
                                    <div class="controls">
                                        <span class="input-xlarge uneditable-input">December 31, 2012</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="control-label">
                                        Outcome/Measure:
                                    </div>
                                    <div class="controls">
                                        <span class="input-xlarge uneditable-input">2 new cost saving initiaitves for capacity </span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="control-label">
                                        Notes:
                                    </div>
                                    <div class="controls">
                                        <textarea class="span11" rows="5">

                                        </textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="span6" style="text-align:center;">
                            <h4>Status: In Caution</h4><h2>40%</h2>
                            <div class="progress progress-striped progress-warning active">
                              <div class="bar" style="width: 40%;"></div>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="row-fluid" style="text-align:center;">
                        <div id="chart-container" style="width:90%;"></div>
                    </div>
                    <hr />
                    <div class="row-fluid">
                        <div class="span6" style="text-align:center;">
                            <div class="text-info"><h4>Star Feedback</h4></div>
                            <p>
                                <a href="#"><i class="icon-star"></i></a> 
                                <a href="#"><i class="icon-star"></i></a> 
                                <a href="#"><i class="icon-star"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a>
                            </p>
                            <h1>3</h1>
                        </div>
                        <div class="span6" style="text-align:center;">
                            <div class="row-fluid" style="text-align:center;">
                                <div class="text-info span12"><h4>Peer Feedback</h4></div>
                            </div>
                            <div class="row-fluid" style="text-align:center;">
                                <div class="progress span12">
                                  <div class="bar bar-success" style="width: 70%;"></div>
                                  <div class="bar bar-danger" style="width: 30%;"></div>
                                </div>
                            </div>
                            <div class="row-fluid" style="text-align:center;">
                                <div class="span6">
                                    <h5>70%</h5>
                                </div>
                                <div class="span6">
                                    <h5>30%</h5>
                                </div>
                            </div>
                            <div class="row-fluid" style="text-align:center;">
                                <div class="span6" style="text-align:center;">
                                    <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                Keywords
                                            </th>
                                            <th>
                                                Word Count
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Good</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <td>Excellent</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td>Keep it up</td>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <td>Great</td>
                                            <td>5</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                                <div class="span6" style="text-align:center;">
                                    <p>
                                        “Good Job!” – Sheila (Feedback to task 2)
                                    </p>
                                    <p>
                                        “Great concept” – Geoel (Feedback to task 1)
                                    </p>
                                    <p>
                                        “That was fast!” – Janiel (Feedback to task 3
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


