﻿@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";  
}

<h2>About</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
