﻿@{    
    ViewBag.Title = "Home Page Fluid Layout";
    ViewBag.Message = "Employee Performance Reviews done the AGILE way";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";    
}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>
        @ViewBag.Message
    </h1>
</div>
<!-- Example row of columns -->
<div class="row-fluid">
    <div class="span4">
        <p>
            <h2>Together let's harness the power of continuous feedback</h2>
        </p>
        <p>
            <a class="m-btn green big">Learn More <i class="m-icon-big-swapright m-icon-white"></i></a>
        </p>
    </div>
    <div class="span8">
        <div>
            <h4>
                <i class="icon-tasks"></i> Task-based feedback
            </h4>
            <p>
                Facilitation of task-based feedback drives
                development and results in faster improvement and
                adjustment by employees.
            </p>
        </div>
        <div>
            <h4>
                <i class="icon-time"></i> Real time tracking
            </h4>
            <p>
                Real time tracking of feedback provides analytics 
                for managers and supervisors enabling them in 
                better decision making.
            </p>
        </div>
        <div>
            <h4>
                <i class="icon-thumbs-up"></i> Recommendation
            </h4>
            <p>
                Feedback recommendation helps Managers 
                provide appropriate feedback.
            </p>
        </div>
    </div>
</div>
