﻿@model Internet.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

<div class="row-fluid">
    <div class="span12">
        <div class="span3">
            <div class="row-fluid" style="text-align:center;">
                <p>
                    <img src="../../Content/images/Picture1.png" alt="profile photo" />                
                </p>
            </div>
            <div class="row-fluid" style="text-align:center;">
                <h4><a href="#" class="m-btn blue-stripe">Jose Dalino Jr  </a></h4>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-block alert-error" })    
    <fieldset>
        <legend>Profile Information</legend>
                <div class="control-group">
                    <div class="control-label">
                        First Name:
                    </div>
                    <div class="controls">
                        <input type="text" value="Jose" />
                    </div>
                </div>
                 <div class="control-group">
                    <div class="control-label">
                        Middle Name:
                    </div>
                    <div class="controls">
                        <input type="text" value="Dee" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        Last Name:
                    </div>
                    <div class="controls">
                        <input type="text" value="Dalino" />
                    </div>
                </div>


                <div class="control-group">
                    <div class="control-label">
                        Department:
                    </div>
                    <div class="controls">
                        <select>
                          <option>Marketing</option>
                          <option>Software Development</option>
                          <option>Quality Assurance</option>
                          <option>Accounting</option>
                          <option>Sales</option>
                        </select>
                    </div>                    
                </div>
                <div class="control-group">
                    <div class="control-label">
                        Manager:
                    </div>
                    <div class="controls">
                        <select>
                          <option>Mark Santos</option>
                          <option>Marking Que</option>
                          <option>Ramond Tan</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        Status:
                    </div>
                    <div class="controls">
                        <select>
                          <option>Active</option>
                          <option>Inactive</option>                          
                        </select>
                    </div>
                </div>

            <div class="form-actions">
                <input type="submit" value="Update Profile" class="m-btn green" />
            </div>      
    </fieldset>
}
</div>

<div class="row-fluid">
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-block alert-error" })    
    <fieldset>
        <legend>Update Your Password</legend>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="controls">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "required" })
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="controls">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "required" })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "required" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" value="Change Password" class="m-btn green" />
        </div>
    </fieldset>
}

</div>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
