﻿@model Internet.Models.LogOnModel
@{
    ViewBag.Title = "Log On";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";  
}
<h2>
    Log On</h2>
<p>
    Please enter your email address and password. @Html.ActionLink("Register", "Register")
    if you don't have an account.
</p>
@using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "Log on was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-block alert-error" })
    <fieldset>
        <legend>Account Information</legend>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.EmailAddress)
            </div>
            <div class="controls">
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "required" })
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="controls">
                @Html.PasswordFor(m => m.Password, new { @class = "required" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <div class="controls">
                @Html.CheckBoxFor(m => m.RememberMe)
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" value="Log On" class="m-btn green" />
        </div>
    </fieldset>
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
