﻿@{
    ViewBag.Title = "Appraisal";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

<div class="row-fluid">
    <div class="span12">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Current</a></li>
                <li><a href="#">Previous</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="current">
                    <div class="row-fluid">
                        <h3>Appraisal for period: July 1, 2012 to December 31, 2012</h3>
                    </div>
                    <hr />
                    <div class="row-fluid" style="padding-top:10px;">
                        <ul>
                            <li class="span4 alert alert-success">
                                <header><h5>Decommission 2 Databases within next 3 months to save $5000</h5></header>
                                <div>
                                    <p>Date: July 1, 2012<br />
                                    End Date: December 31, 2012  <br />
                                    Outcome/Measure: Decommission 2 Databases</p>
                                </div>
                                <div>
                                    On Track
                                </div>
                            </li>

                            <li class="span4 alert alert-warning">
                                <header><h5>Implement 3 Successful code migrations for the next 2 months</h5></header>
                                <div>
                                    <p>Date: July 1, 2012<br />
                                    End Date: December 31, 2012  <br />
                                    Outcome/Measure: 3 Successful code migrations</p>
                                </div>
                                <div>
                                    In Caution
                                </div>
                            </li>

                            <li class="span4 alert alert-error">
                                <header><h5>Successfully train 2 new programmers for the next 3 months</h5></header>
                                <div>
                                    <p>Date: July 1, 2012<br />
                                    End Date: December 31, 2012  <br />
                                    Outcome/Measure: 2 new programmers</p>
                                </div>
                                <div>
                                    At Risk
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row-fluid" style="padding-top:10px;">
                        <ul>
                        <li class="span4 alert alert-success">
                            <header><h5>Meet 95% Service level agreements for the next 6 months</h5></header>
                            <div>
                                    <p>Date: July 1, 2012<br />
                                    End Date: December 31, 2012  <br />
                                    Outcome/Measure: 95% Service Level Agreement</p>
                            </div>
                            <div>
                                On Track
                            </div>
                        </li>

                        <li class="span4 alert alert-warning">
                            <header><h5>Implement 2 new cost saving initiaitves for capacity for the next 6 months</h5></header>
                            <div>
                                    <p>Date: July 1, 2012<br />
                                    End Date: December 31, 2012  <br />
                                    Outcome/Measure: 2 new cost saving initiatives</p>
                            </div>
                            <div>
                                In Caution
                            </div>
                        </li>

                        <li class="span4 alert alert-success">
                            <header><h5>100% Accuracy in Project Time Tracking for the next 6 months</h5></header>
                            <div>
                                    <p>Date: July 1, 2012<br />
                                    End Date: December 31, 2012  <br />
                                    Outcome/Measure: 100% accuracy in project time tracking</p>
                            </div>
                            <div>
                                On Track
                            </div>
                        </li>
                        </ul>
                    </div>
                    <div class="row-fluid">
                        <h3>Employee Summary</h3>
                    </div>
                    <hr />
                    <div class="row-fluid">
                        <div class="span2">
                            <div class="row-fluid">
                                <ul class="thumbnails" style="text-align:center;">
                                  <li class="span12">
                                    <div class="thumbnail">
                                      <a href="#"><img src="../../Content/images/Picture1.png" alt=""></a>
                                    </div>
                                  </li>
                                </ul>
                            </div>
                            <div class="row-fluid" style="text-align:center;">
                                <h4><a href="#" class="m-btn blue-stripe">Jose Dalino Jr  </a></h4>
                            </div>
                        </div>
                        <div class="span10">
                            <form class="form-search">
                                <div class="controls docs-input-sizes">
                                    <input type="text" class="span11" placeholder="Employee Summary">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span9"></div>
                        <div class="span3"><input type="submit" class="m-btn green span11" value="Save" /></div>                        
                    </div>
                    <div class="row-fluid">
                        <h3>Manager Summary</h3>
                    </div>
                    <hr />
                    <div class="row-fluid">
                        <div class="span10">
                            <form class="form-search">
                                <div class="controls docs-input-sizes">
                                    <input type="text" class="span11" placeholder="Manager Summary">
                                </div>
                            </form>
                        </div>
                        <div class="span2">
                            <div class="row-fluid">
                                <ul class="thumbnails" style="text-align:center;">
                                  <li class="span12">
                                    <div class="thumbnail">
                                      <a href="#"><img src="../../Content/images/Picture5.png" alt=""></a>
                                    </div>
                                  </li>
                                </ul>
                            </div>
                            <div class="row-fluid" style="text-align:center;">
                                <h4><a href="#" class="m-btn blue-stripe">LG Sese  </a></h4>
                            </div>
                        </div>                        
                    </div>   
                    <div class="row-fluid">
                        <h3>Grade</h3>
                        <div class="span1"></div>
                        <div class="span2" style="text-align:center;">
                            <div class="row-fluid"><i class="icon-star"></i></div>
                            <div class="row-fluid"><h4>Needs Improvement</h4></div>
                        </div>
                        <div class="span2" style="text-align:center;">
                            <div class="row-fluid"><i class="icon-star"></i></div>
                            <div class="row-fluid"><h4>Below Expectations</h4></div>
                        </div>
                        <div class="span2" style="text-align:center;">
                            <div class="row-fluid"><i class="icon-star"></i></div>
                            <div class="row-fluid"><h4>Meets Expectations</h4></div>
                        </div>
                        <div class="span2" style="text-align:center;">
                            <div class="row-fluid"><i class="icon-star-empty"></i></div>
                            <div class="row-fluid"><h4>Above Expectations</h4></div>
                        </div>
                        <div class="span2" style="text-align:center;">
                            <div class="row-fluid"><i class="icon-star-empty"></i></div>
                            <div class="row-fluid"><h4>Exceeds Expectations</h4></div>
                        </div>
                        <div class="span1"></div>
                    </div>
                                    
                </div>
            </div>
        </div>        
    </div>
</div>