﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<div class="row-fluid">
    <div class="span3">
        <div class="row-fluid" style="text-align:center;">
            <p>
                <img src="../../Content/images/Picture1.png" alt="profile photo" />                
            </p>
        </div>
        <div class="row-fluid" style="text-align:center;">
            <h4><a href="#" class="m-btn blue-stripe">Jose Dalino Jr  </a></h4>
        </div>
    </div>
</div>
<div class="row-fluid">
    <h3>Profile Information</h3>
    <hr />
     
</div>
<div class="row-fluid">
    @*
        Update Password
    *@
</div>
