﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

<div class="row-fluid">
    <div class="span12">
        <div class="span3">
            <div class="row-fluid" style="text-align:center;">
                <p>
                    <img src="../../Content/images/Picture1.png" alt="profile photo" />                
                </p>
            </div>
            <div class="row-fluid" style="text-align:center;">
                <h4><a href="#" class="m-btn blue-stripe">Jose Dalino Jr  </a></h4>
            </div>
        </div>
        <div class="span6 well well-large">
            <form class="form-search">
                <div class="controls docs-input-sizes">
                    <input type="text" class="span10" placeholder="What are you working on right now?">
                    <button type="submit" class="m-btn purple">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="span3 well">            
            <div class="row-fluid">
                <h3>My Goals</h3>
                <div class="row-fluid">
                    <h5><a href="#">Decommission 2 Databases within next 3 months to save $5000</a></h5>
                    <div class="progress progress-striped active">
                      <div class="bar" style="width: 60%;"></div>
                    </div>
                </div>
                <div class="row-fluid">
                    <h5><a href="#">Implement 3 Successful code migrations for the next 2 months</a></h5>
                    <div class="progress progress-striped active">
                      <div class="bar" style="width: 50%;"></div>
                    </div>
                </div>
                <div class="row-fluid">
                    <h5><a href="#">Successfully train 2 new programmers for the next 3 months</a></h5>
                    <div class="progress progress-striped active">
                      <div class="bar" style="width: 20%;"></div>
                    </div>
                </div>
                <div class="row-fluid">
                    <h5><a href="#">Meet 95% Service level agreements for the next 6 months</a></h5>
                    <div class="progress progress-striped active">
                      <div class="bar" style="width: 70%;"></div>
                    </div>
                </div>
                <div class="row-fluid">
                    <h5><a href="#">Implement 2 new cost saving initiaitves for capacity for the next 6 months</a></h5>
                    <div class="progress progress-striped active">
                      <div class="bar" style="width: 40%;"></div>
                    </div>
                </div>
                <div class="row-fluid">
                    <h5><a href="#">100% Accuracy in Project Time Tracking for the next 6 months</a></h5>
                    <div class="progress progress-striped active">
                      <div class="bar" style="width: 80%;"></div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="span6">
            <div class="row-fluid">
                <div class="span2">
                    <ul class="thumbnails">
                      <li class="span12">
                        <div class="thumbnail">
                          <a href="#"><img src="../../Content/images/Picture3.png" alt=""></a>
                        </div>
                      </li>
                    </ul>
                </div>                
                <div class="span10">
                    <div class="row-fluid">
                        <h5><a href="#">Jemuel Dalino</a></h5>
                    </div>
                    <div class="row-fluid">
                        <p>
                            Finished his task <i>Flowdio integration with Memcacher service in Appharbor</i> 
                        </p>
                        <h6 class="pull-right"><i>2 minutes ago</i></h6>
                    </div>
                    <div class="row-fluid">
                        <div class="well well-small">
                            <div class="row-fluid">
                                <div class="span2">
                                    <ul class="thumbnails">
                                      <li class="span12">
                                        <div class="thumbnail">
                                          <a href="#"><img src="../../Content/images/Picture4.png" alt=""></a>
                                        </div>
                                      </li>
                                    </ul>
                                </div>
                                <div class="span10">
                                    <div class="row-fluid">
                                        <h5><a href="#">Allan Espinosa</a></h5>
                                        <p>
                                            <a href="#"><i class="icon-star"></i></a> 
                                            <a href="#"><i class="icon-star"></i></a> 
                                            <a href="#"><i class="icon-star"></i></a> 
                                            <a href="#"><i class="icon-star"></i></a> 
                                            <a href="#"><i class="icon-star-empty"></i></a>
                                        </p>
                                        <p>
                                            Good job! Data retrieval is much faster.
                                        </p>
                                        <h6 class="pull-right"><i>8 seconds ago</i></h6>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="row-fluid">
                        <div class="well well-small">
                            <p class="pull-right">
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a>
                            </p>
                            <p>
                                <input type="text" class="span12" placeholder="Write a Feedback..." />
                                <input type="submit" class="m-btn green" value="Post" />
                            </p>
                        </div>                        
                    </div>
                </div>
            </div>
            <hr />
            <div class="row-fluid">
                <div class="span2">
                    <ul class="thumbnails">
                      <li class="span12">
                        <div class="thumbnail">
                          <a href="#"><img src="../../Content/images/Picture2.png" alt=""></a>                         
                        </div>
                      </li>
                    </ul>
                </div>                
                <div class="span10">
                    <div class="row-fluid">
                        <h5><a href="#">Geoel Esguerra</a></h5>
                    </div>
                    <div class="row-fluid">
                        <p>
                            Finished his task <i>20 Cold Calls</i> 
                        </p>
                        <h6 class="pull-right"><i>45 minutes ago</i></h6>
                    </div>
                    <div class="row-fluid">
                        <div class="well well-small">
                            <div class="row-fluid">
                                <div class="span2">
                                    <ul class="thumbnails">
                                      <li class="span12">
                                        <div class="thumbnail">
                                          <a href="#"><img src="../../Content/images/Picture1.png" alt=""></a>
                                        </div>
                                      </li>
                                    </ul>
                                </div>
                                <div class="span10">
                                    <div class="row-fluid">
                                        <h5><a href="#">Jose Dalino Jr</a></h5>
                                        <p>
                                            <a href="#"><i class="icon-star"></i></a> 
                                            <a href="#"><i class="icon-star"></i></a> 
                                            <a href="#"><i class="icon-star"></i></a> 
                                            <a href="#"><i class="icon-star"></i></a> 
                                            <a href="#"><i class="icon-star"></i></a>
                                        </p>
                                        <p>
                                            Excellent work! You've already reached your target while it's still early in the morning!
                                        </p>
                                        <h6 class="pull-right"><i>17 minutes ago</i></h6>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="row-fluid">
                        <div class="well well-small">
                            <p class="pull-right">
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a>
                            </p>
                            <p>
                                <input type="text" class="span12" placeholder="Write a Feedback..." />
                                <input type="submit" class="m-btn green" value="Post" />
                            </p>
                        </div>                        
                    </div>
                </div>
            </div>
            <hr />
            <div class="row-fluid">
                <div class="span2">
                    <ul class="thumbnails">
                      <li class="span12">
                        <div class="thumbnail">
                          <a href="#"><img src="../../Content/images/Picture4.png" alt=""></a>                          
                        </div>
                      </li>
                    </ul>
                </div>                
                <div class="span10">
                    <div class="row-fluid">
                        <h5><a href="#">Allan Espinosa</a></h5>
                    </div>
                    <div class="row-fluid">
                        <p>
                            Accomplished his goal of <b><i>6 client projects</i></b> for the period of <b>January 1, 2012-December 31, 2012</b> 
                        </p>
                        <h6 class="pull-right"><i>2 hours ago</i></h6>
                    </div>
                    <div class="row-fluid">
                        <div class="well well-small">
                            <p class="pull-right">
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a>
                            </p>
                            <p>
                                <input type="text" class="span12" placeholder="Write a Feedback..." />
                                <input type="submit" class="m-btn green" value="Post" />
                            </p>
                        </div>                        
                    </div>
                </div>
            </div>
            <hr />
            <div class="row-fluid">
                <div class="span2">
                    <ul class="thumbnails">
                      <li class="span12">
                        <div class="thumbnail">
                          <a href="#"><img src="../../Content/images/Picture7.png" alt=""></a>                          
                        </div>
                      </li>
                    </ul>
                </div>                
                <div class="span10">
                    <div class="row-fluid">
                        <h5><a href="#">Sheila Medrano</a></h5>
                    </div>
                    <div class="row-fluid">
                        <p>
                            Finished her task <i>Database migration of IMS to SQL Server 2012</i>
                        </p>
                        <h6 class="pull-right"><i>4 hours ago</i></h6>
                    </div>
                    <div class="row-fluid">
                        <div class="well well-small">
                            <p class="pull-right">
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a>
                            </p>
                            <p>
                                <input type="text" class="span12" placeholder="Write a Feedback..." />
                                <input type="submit" class="m-btn green" value="Post" />
                            </p>
                        </div>                        
                    </div>
                </div>
            </div>
            <hr />
            <div class="row-fluid">
                <div class="span2">
                    <ul class="thumbnails">
                      <li class="span12">
                        <div class="thumbnail">
                          <a href="#"><img src="../../Content/images/Picture6.png" alt=""></a>                          
                        </div>
                      </li>
                    </ul>
                </div>                
                <div class="span10">
                    <div class="row-fluid">
                        <h5><a href="#">Kevin Blasco</a></h5>
                    </div>
                    <div class="row-fluid">
                        <p>
                            Finished her task <i>Memcache installation to local dev environment</i>
                        </p>
                        <h6 class="pull-right"><i>6 hours ago</i></h6>
                    </div>
                    <div class="row-fluid">
                        <div class="well well-small">
                            <p class="pull-right">
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a> 
                                <a href="#"><i class="icon-star-empty"></i></a>
                            </p>
                            <p>
                                <input type="text" class="span12" placeholder="Write a Feedback..." />
                                <input type="submit" class="m-btn green" value="Post" />
                            </p>
                        </div>                        
                    </div>
                </div>
            </div>
            <hr />
            <div class="row-fluid" style="text-align:center;">
                <h4><a href="#" class="m-btn blue-stripe">Load More... <i class="m-icon-swapright"></i></a></h4>
            </div>
        </div>
        <div class="span3 well">
            <div class="span12">
                <h3>My Network</h3>
                <ul class="thumbnails">
                    <li class="span3">
                        <a href="#" class="thumbnail">
                          <img src="../../Content/images/Picture2.png" alt="">
                        </a>
                    </li>
                    <li class="span3">
                        <a href="#" class="thumbnail">
                          <img src="../../Content/images/Picture3.png" alt="">
                        </a>
                    </li>
                    <li class="span3">
                        <a href="#" class="thumbnail">
                          <img src="../../Content/images/Picture4.png" alt="">
                        </a>
                    </li>
                    <li class="span3">
                        <a href="#" class="thumbnail">
                          <img src="../../Content/images/Picture5.png" alt="">
                        </a>
                    </li>
                </ul>
                <ul class="thumbnails">
                    <li class="span3">
                        <a href="#" class="thumbnail">
                          <img src="../../Content/images/Picture6.png" alt="">
                        </a>
                    </li>
                    <li class="span3">
                        <a href="#" class="thumbnail">
                          <img src="../../Content/images/Picture7.png" alt="">
                        </a>
                    </li>                    
                </ul>                
                <p>
                    <a href="#" class="m-btn blue-stripe">See all <i class="m-icon-swapright"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>
